/*Required CSS*/

body {
    font-family: Arial Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {
    text-align: center;
}

label {
    padding: 2px;
    line-height: 2.5em;
}

fieldset {
    text-align: left;
    padding: 5px;
    background-color: #eee;
}

legend {
    background-color: #f93;
    border: 1px solid #f00;
    padding: 5px;
    margin-bottom: 5px;
}

section {
    max-width: 600px;
    margin: auto;
}

/*Classes that style the textarea tag*/

.comment {
    float: left;
    width: 100%;
    height: auto;
    padding-top: 5px;
}

.textinput {
    float: left;
    width: 99%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid gray;
}

/*ID that centers the validation text*/
#validation{
    text-align: center;
}